<a href="https://colab.research.google.com/github/DepartmentOfStatisticsPUE/bi-2021/blob/main/materialy-wyklady/bi_2021_03_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Badania symulacyjne 

W ramach przedmiotu Badania Interentowe prowadzimy małe badania symulacyjne na podstawie wybranych artykułów naukowych.

In [8]:
set.seed(123) ## konieczne aby mieć powtarzalne wyniki
N <- 1000000 ## wielkość populacji
X_1 <- rnorm(N, 1,1) ## rozkład zmiennej X_1 ~ N(1,1)
X_2 <- rexp(N, 1) ## rozkład zmiennej X_2 ~ Exp(1)
epsilon <- rnorm(N) ## rozkład zmiennej epsilon ~ N(0,1)

Y_1 <- 1 + X_1 + X_2 + epsilon
Y_2 <- 0.5*(X_1 - 0.5)^2 + X_2 + epsilon

populacja <- data.frame(id = 1:N, X_1, X_2, Y_1, Y_2)
head(populacja)

  id X_1       X_2       Y_1      Y_2
1 1  0.4395244 1.6399764 3.856908 2.4192128
2 2  0.7698225 0.8362165 2.224028 0.4906076
3 3  2.5587083 0.2214909 3.119574 1.6800052
4 4  1.0705084 0.6128547 3.090614 1.1828452
5 5  1.1292877 0.4650717 4.641065 2.7097784
6 6  2.7150650 1.1759146 5.217566 3.9557575

Tworzymy wektor prawdopodobieństw przynależności do źródła big data.

In [9]:
populacja$p_1 <- exp(populacja$X_2) / (1 + exp(populacja$X_2))
head(populacja)

  id X_1       X_2       Y_1      Y_2       p_1
1 1  0.4395244 1.6399764 3.856908 2.4192128 0.8375317
2 2  0.7698225 0.8362165 2.224028 0.4906076 0.6976678
3 3  2.5587083 0.2214909 3.119574 1.6800052 0.5551475
4 4  1.0705084 0.6128547 3.090614 1.1828452 0.6485917
5 5  1.1292877 0.4650717 4.641065 2.7097784 0.6142166
6 6  2.7150650 1.1759146 5.217566 3.9557575 0.7642124

In [14]:
set.seed(123)
populacja$delta_1 <- rbinom(n = N, prob = populacja$p_1, size = 1)
head(populacja)
sum(populacja$delta_1)

  id X_1       X_2       Y_1      Y_2       p_1       delta_1
1 1  0.4395244 1.6399764 3.856908 2.4192128 0.8375317 1
2 2  0.7698225 0.8362165 2.224028 0.4906076 0.6976678 0
3 3  2.5587083 0.2214909 3.119574 1.6800052 0.5551475 1
4 4  1.0705084 0.6128547 3.090614 1.1828452 0.6485917 0
5 5  1.1292877 0.4650717 4.641065 2.7097784 0.6142166 0
6 6  2.7150650 1.1759146 5.217566 3.9557575 0.7642124 1

[1] 693383

In [16]:
c("populacja" = mean(populacja$Y_1), 
  "big_data" = mean(populacja$Y_1[populacja$delta_1 == 1]))

populacja  big_data
 3.000183  3.186211